.listItem{
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.item{
    /* background-color: antiquewhite; */
}

.addcar{
    /* margin: 5px; */
}

.addcar:hover{
    /* background-color: grey; */
}

.carInp{
    margin-top: 20px;
    background-color: rgb(209, 202, 202);
    border-radius: 2%;
}

.items{
    margin-top: 20px;
}

.txt{
    border: 1px solid green;
    color: green;
    font-size: larger;
    padding: 10px;
    font-weight: 500;
}

.txt:hover{
    color: white;
    border: 1px solid grey;
    background-color: green;
}

.form-control:focus{
    border:1px solid red;
    color:green;
}


